/* add re-usable variables */
:root {
  --bkg: #f9fbfd;
  --box: hsl(0, 0%, 100%);
  --txt: hsl(206, 17%, 28%);
  --deco: #c0c7cf;
  --btn: hsl(360, 91%, 36%);
}

body {
  font-family: sans-serif;
  background-color: var(--bkg);
}

/* replace .wrapper with main */
main {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

header {
  text-align: center;
  padding: 20px;
  padding-top: 0px;
  color: var(--txt);
  font-size: 34px;
}

h2 {
  font-size: 28px;
  padding-bottom: 10px;
  text-align: left;
}

.card {
  background-color: var(--box);
  border-radius: 5px;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  color: var(--txt);
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 40px;
  text-align: center;
}

/* replaced .card-header with h2 */
/* replaced h2::after and button::before with output::before, output::after */
output::before, output::after {
  content: " ";
  display: block;
  width: 100%;
  background: var(--deco);
  height: 2px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* replace .card-body with output */
output {
  min-height: 100px;
  user-select: all;
}

/* replace .btn with button */
button {
  border: none;
  background-color: var(--btn);
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px 0px;
  color: var(--box);
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 16px auto;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
}

/* remove .float-right */

#password {
  font-family: monospace;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  display: block;
  user-select: all;
  width: 100%;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 85px;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px dashed var(--deco);
  border-radius: 6px;
  resize: none;
  overflow: hidden;
}

@media (max-width: 690px) {
  h2 {
    font-size: 24px;
  }

  button {
    font-size: 1rem;
    padding: 10px 15px;
  }

  #password {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  h2 {
    font-size: 20px;
  }

  button {
    font-size: 0.8rem;
  }

  #password {
    font-size: 0.8rem;
  }
}
